<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Demo | ${title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./cats">Cats</a></li>
            <li><a href="./dogs">Dogs</a></li>
            <li><a href="./cats_and_dogs">Cats and Dogs</a></li>
        </ul>
    </nav>
    <main>
        ${partial}
    </main>
    <footer>
        <h3>This is the Footer</h3>
        <p>This is the footer content</p>
    </footer>
</body>

</html>